* {
    padding: 0;
    margin: 0;
    }
    p {
      position: absolute;
      top:530%;
      left:40%;
    } 
    body {
    height: 10vh;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    }
    input{border:0;
        background-color:#4645447e;
        border-radius:10px;
        cursor:pointer;}
      input:hover{
      transition: 0.5s linear;
      background: rgb(179, 177, 177);
    }
