*{
    margin:0;
    padding:0;
}
body{
    position:absolute;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    background-color:#ffffff00;
}
.time{
    position: absolute;
    top:20px;
    font-size: 120px;
}
.txt{
    font-size:60px;
    position: relative;
}
.times{
    position: absolute;
    bottom:20px;
    font-size: 40px;
}
.waitloadC{
    position: relative;
    width:150px;
    height:150px;
    display: flex;
    justify-content: center;    
    align-items: center;
}
.waitloadC::after{
    top:22px;
    right:19px;
    width:7px;
    height:7px;
}
.waitloadimg{
    content:'';
    position:absolute;
    width:140px;
    height:140px;
    background-color:#ffffff;
    border-radius:100%;
}
.main{
    position:absolute;
    width:100%;
    height:auto;
    background-color:#ffffff00;
    text-align:center;
}
.mainb{
    position:relative;
    width:100%;
    height:auto;
    background-color:#ffffff00;
    display: flex;
    justify-content: center;    
    align-items: center;
    margin-top:50px;
}
@media (max-width:800px){
.time{
    font-size: 80px;
}
.txt{
    font-size:40px;
}
.times{
    font-size: 30px;
}
.waitloadC{
    width:100px;
    height:100px;
}
.waitloadC::after{
    top:15px;
    right:11px;
}
.waitloadimg{
    width:90px;
    height:90px;
}
.mainb{
    margin-top:20px;
}
}
@media (max-width:600px){
.txt{
    font-size:30px;
}
.times{
    font-size: 20px;
}
.waitloadC{
    width:80px;
    height:80px;
}
.waitloadC::after{
    top:10px;
    right:10px;
}
.waitloadimg{
    width:70px;
    height:70px;
}
.mainb{
    margin-top:20px;
}
}
@media (max-width:400px){
.time{
    font-size:60px;
}
.txt{
    font-size:25px;
}
.times{
    font-size: 15px;
}
.waitloadC{
    width:50px;
    height:50px;
}
.waitloadC::after{
    top:7px;
    right:4px;
}
.waitloadimg{
    width:42px;
    height:42px;
}
.mainb{
    margin-top:10px;
}
}
