* {
    padding: 0;
    margin: 0;
    }
    p {
      position: absolute;
      top:530%;
      left:40%;
    } 
    body {
    height: 10vh;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    }
    input{border:0;
        color: rgb(255, 255, 255);
        background-color:#4645444f;
        border-radius:10px;
        cursor:pointer;}
      input:hover{
      transition: 0.5s linear;
      background: rgba(255, 255, 255, 0.849);
      color: rgba(0, 0, 0, 0.863);
    }
