input{
        left:0.15%;
        justify-content: center; 
        align-items: center; 
        position: fixed; 
        border:0;
        color: rgb(255, 255, 255);
        background-color:#47474659;
        border-radius:10px;
        cursor:pointer;
        transition: 0.3s linear;
      }
      input:hover{
      background: rgba(255, 255, 255, 0.795);
      color: rgba(0, 0, 0, 0.863);
      }