* {
    padding: 0;
    margin: 0;  
    } 
      #iframe_block{   
        justify-content: center; 
        align-items: center; 
          position: fixed;   
          left:0%;   
          top:0%;             
          right:0;   
          bottom:0;   
          border:none;   
      }   
      iframe{   
          width:100%;   
          height: 100%;   
          border:none;       
      }  
      input{
        justify-content: center; 
        align-items: center; 
        position: fixed; 
        left:87.5%;   
        top:88%;
        border:0;
        color: rgb(255, 255, 255);
        background-color:#47474642;
        border-radius:10px;
        cursor:pointer;
        transition: 0.3s linear;
      }
      input:hover{
      background: rgba(255, 255, 255, 0.795);
      color: rgba(0, 0, 0, 0.863);
    }